	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/06/2020 15:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("n.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}




@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon")icon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 50px;
font-style: normal;

}

.flaticon-analysis:before { content: "\f100"; }
.flaticon-warehouse:before { content: "\f101"; }
.flaticon-warehouse-1:before { content: "\f102"; }
.flaticon-filter:before { content: "\f103"; }
.flaticon-income:before { content: "\f104"; }
.flaticon-time-management:before { content: "\f105"; }
.flaticon-factory:before { content: "\f106"; }
.flaticon-packages:before { content: "\f107"; }